.image-wrapper {
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  &:not(.mobile) {
    background-attachment: fixed !important;
  }
  &.bg-auto {
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
  }
  &.bg-full {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
  }
  &.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
  }
  &.bg-overlay:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba($gray-900, 0.5);
  }
  &.bg-overlay-300:before {
    background: rgba($gray-900, 0.3);
  }
  &.bg-overlay-400:before {
    background: rgba($gray-900, 0.4);
  }
  &.bg-overlay-light-300:before {
    background: rgba($white, 0.3);
  }
  &.bg-overlay-light-400:before {
    background: rgba($white, 0.4);
  }
  &.bg-overlay-light-500:before {
    background: rgba($white, 0.5);
  }
  &.bg-overlay-light-600:before {
    background: rgba($white, 0.6);
  }
  &.bg-overlay:not(.bg-content) *,
  &.bg-overlay.bg-content .content {
    position: relative;
    z-index: 2;
  }
  &.bg-overlay .form-floating > label {
    position: absolute;
  }
}
@media (max-width: 991.98px) {
  .image-wrapper.bg-full {
    background-size: cover !important;
  }
}
@media (max-width: 767px) {
  .bg-map {
    background: none !important;
  }
}
@media (max-width: 575.98px) {
  .bg-xs-none {
    background-image: none !important;
  }
}

@media (max-width: 991.98px) {
  .image-wrapper.bg-cover {
    min-height: 25rem;
  }
}
@media (max-width: 767px) {
  .image-wrapper.bg-cover {
    min-height: 20rem;
  }
}
