.h-25 {
    height: 22.5rem !important;
  }
  
  .h-50 {
    height: 50% !important;
  }
  
  .h-75 {
    height: 75% !important;
  }
  
  .h-100 {
    height: 100% !important;
  }
  
  .h-auto {
    height: auto !important;
  }
  
  .h-0 {
    height: 0 !important;
  }
  
  .h-1 {
    height: 0.25rem !important;
  }
  
  .h-2 {
    height: 0.5rem !important;
  }
  
  .h-3 {
    height: 0.75rem !important;
  }
  
  .h-4 {
    height: 1rem !important;
  }
  
  .h-5 {
    height: 1.25rem !important;
  }
  
  .h-6 {
    height: 1.5rem !important;
  }
  
  .h-7 {
    height: 1.75rem !important;
  }
  
  .h-8 {
    height: 2rem !important;
  }
  
  .h-9 {
    height: 2.25rem !important;
  }
  
  .h-10 {
    height: 2.5rem !important;
  }
  
  .h-11 {
    height: 3rem !important;
  }
  
  .h-12 {
    height: 3.5rem !important;
  }
  
  .h-13 {
    height: 4rem !important;
  }
  
  .h-14 {
    height: 4.5rem !important;
  }
  
  .h-15 {
    height: 5rem !important;
  }
  
  .h-16 {
    height: 6rem !important;
  }
  
  .h-17 {
    height: 7rem !important;
  }
  
  .h-18 {
    height: 8rem !important;
  }
  
  .h-19 {
    height: 9rem !important;
  }
  
  .h-20 {
    height: 10rem !important;
  }
  
  .h-21 {
    height: 12.5rem !important;
  }
  
  .h-22 {
    height: 15rem !important;
  }
  
  .h-23 {
    height: 17.5rem !important;
  }
  
  .h-24 {
    height: 20rem !important;
  }
  
  .mh-100 {
    max-height: 100% !important;
  }
  
  .vh-100 {
    height: 100vh !important;
  }
  
  .min-vh-25 {
    min-height: 25vh !important;
  }
  
  .min-vh-30 {
    min-height: 30vh !important;
  }
  
  .min-vh-50 {
    min-height: 50vh !important;
  }
  
  .min-vh-60 {
    min-height: 60vh !important;
  }
  
  .min-vh-70 {
    min-height: 70vh !important;
  }
  
  .min-vh-75 {
    min-height: 75vh !important;
  }
  
  .min-vh-80 {
    min-height: 80vh !important;
  }
  
  .min-vh-100 {
    min-height: 100vh !important;
  }

  .auto-h {
    height: auto !important;
  }

  .min-vh-270 {
    min-height: 270px !important;
  }

  .min-100-percent {
    min-height: 100% !important;
  }