$link-color: $main-color !default;
$link-decoration: none !default;
$link-hover-color: $main-color !default;
$link-hover-decoration: null !default;
$link-transition: all 0.2s ease-in-out !default;
$link-transition2: all 0.3s ease-in-out !default;
$dropdown-transition: all 0.25s ease-in-out !default;
$bezier-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1) !default;
$emphasized-link-hover-darken-percentage: 0 !default;