//----------------------------------------------------------//
//	SVG ICONS
//----------------------------------------------------------//
img.svg-inject {
    visibility: hidden;
  }
  .icon-svg,
  .icon-svg.icon-svg-lg {
    width: 3rem;
    height: 3rem;
  }
  .icon-svg.icon-svg-md {
    width: 2.6rem;
    height: 2.6rem;
  }
  .icon-svg.icon-svg-sm {
    width: 2.2rem;
    height: 2.2rem;
  }
  .icon-svg.icon-svg-xs {
    width: 1.8rem;
    height: 1.8rem;
  }
//   .lineal-fill {
//     fill: tint-color($main-color, $icon-fill-level);
//   }
  .lineal-stroke {
    fill: #36496d;
  }
  @each $color, $value in $colors {
    .text-#{$color} .lineal-fill {
      fill: tint-color($value, $icon-fill-level);
    }
  }
  .solid-mono {
    .fill-primary {
      fill: $main-color;
    }
    .fill-secondary {
      fill: tint-color($main-color, 70%);
    }
  }
  @each $color, $value in $colors {
    .solid-mono.text-#{$color} {
      .fill-primary {
        fill: $value;
      }
      .fill-secondary {
        fill: tint-color($value, 70%);
      }
    }
  }
  .solid-duo {
    &.text-purple-aqua {
      .fill-primary {
        fill: $purple;
      }
      .fill-secondary {
        fill: #8ce0f1;
      }
    }
    &.text-navy-green {
      .fill-primary {
        fill: #414b64;
      }
      .fill-secondary {
        fill: $green;
      }
    }
    &.text-grape-fuchsia {
      .fill-primary {
        fill: $grape;
      }
      .fill-secondary {
        fill: #f857a6;
      }
    }
    &.text-grape-green {
      .fill-primary {
        fill: $grape;
      }
      .fill-secondary {
        fill: #94dd8e;
      }
    }
    &.text-navy-sky {
      .fill-primary {
        fill: #414b64;
      }
      .fill-secondary {
        fill: $sky;
      }
    }
    &.text-blue-pink {
      .fill-primary {
        fill: $blue;
      }
      .fill-secondary {
        fill: #fc7eb9;
      }
    }
    &.text-green-fuchsia {
      .fill-primary {
        fill: #8ed882;
      }
      .fill-secondary {
        fill: $fuchsia;
      }
    }
    &.text-grape-yellow {
      .fill-primary {
        fill: $grape;
      }
      .fill-secondary {
        fill: $yellow;
      }
    }
    &.text-sky-pink {
      .fill-primary {
        fill: $sky;
      }
      .fill-secondary {
        fill: #ff98ab;
      }
    }
    &.text-purple-pink {
      .fill-primary {
        fill: $purple;
      }
      .fill-secondary {
        fill: #fdb9d3;
      }
    }
    &.text-green-red {
      .fill-primary {
        fill: $green;
      }
      .fill-secondary {
        fill: #ff7c94;
      }
    }
    &.text-red-yellow {
      .fill-primary {
        fill: #e54281;
      }
      .fill-secondary {
        fill: $yellow;
      }
    }
  }